<section class="container">
  <h1 class="mb-4">Editing post</h1>

  <%= render "form", post: @post %>

  <div class="mt-4">
    <%= link_to "Show this post", @post, class: "btn btn-primary me-2" %> <%=
    link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
  </div>
</section>
